<h1>Settle a City</h1>
<form action='/cities' method='post'>
<label>City Name</label>
<br/>
<input type="text" name="city_name">
<br/>
<label>City State</label>
<br/>
<input type="text" name="city_state">
<br/>
<input type="submit">
</form>

